@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto&display=swap');
body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
}
#masthead {
	background: #000;
	height: 400px;
}
.site-branding-big img {
	max-width: 100%;
}
.page-information {
	background: #000;
	color: #fff;
}